// 颜色定义规范
$color-text-a = #212121
$color-text-b = #f0f0f0
$color-text-c = #707070
$color-text-d = #008FFF
$color-text-e = #3f3f3f
$color-text-f = #909399
$color-text-g = #E3E3E3
$color-text-h = #008FFF
$color-text-i = #ffffff
$color-text-j = #E6F1FC
$color-text-k = #FFFDE5
$color-text-l = #FF1D1D
$color-text-m = #484848
$color-text-n = #EBEBEB
$color-text-o = #854B18
$color-text-p = #FEFDED
$color-text-q = #016DFF
$color-text-r = #676767
$color-text-s = #FF3C00
$color-text-t = #7ED321
$color-text-u = #E5E5E5
$color-text-v = #D8DCE6
$color-text-w = #409EFF
$color-text-z = #979797
